@layer reset, base, tokens, recipes, utilities;

*::selection {
  color: hsla(160, 9%, 92%, 1);
  background-color: hsla(0, 0%, 19%, 1);
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .story__text-overlay {
    background-color: rgba(8, 8, 8, 0.4);
  }
}
/* @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .story__text-overlay {
    background-color: rgba(48, 48, 48, 0.1);
  }
} */

body {
  text-transform: initial;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: p22-mackinac-pro;
  }
  p {
    font-family: var(--fonts-mona);
  }

  h1 {
    font-size: xx-large;
    font-weight: var(--font-weights-black);
  }

  h2 {
    font-size: x-large;
    font-weight: var(--font-weights-bold);
  }

  h3 {
    font-size: large;
    font-weight: var(--font-weights-bold);
  }

  h4 {
    font-size: medium;
    font-weight: var(--font-weights-bold);
  }

  h5 {
    font-size: small;
    font-weight: var(--font-weights-bold);
  }

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .story__text-overlay {
      background-color: rgba(8, 8, 8, 0.4);
    }
  }
}
