.spinner {
  pointer-events: none;
  border: 0.2em solid transparent;
  border-color: var(--colors-bg-muted);
  border-top-color: var(--colors-fg-subtle);
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
