.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  --gap-size: 0.5rem;
  --square-size: 8rem;
}

.root:where([data-empty="true"]) {
  display: none;
}

.grid {
  flex: 1 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(auto-fill, var(--square-size));
  grid-template-columns: repeat(auto-fill, var(--square-size));
  grid-auto-flow: dense;
  min-width: 0;
}

.asset {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  border-radius: var(--radii-lg);
  overflow: hidden;
}

.asset__image {
  grid-row: 1/2;
  grid-column: 1/2;

  height: 100%;
  width: 100%;

  object-position: center;
  object-fit: cover;
}

.asset__actions {
  grid-row: 1/2;
  grid-column: 1/2;
  height: min-content;
}
