.root {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.asset {
  border-radius: var(--radii-lg);
  overflow: hidden;

  display: grid;
}

.asset:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}

.asset__image {
  grid-row: 1/2;
  grid-column: 1/2;

  height: 100%;
  width: 100%;

  object-position: center;
  object-fit: cover;
}

.asset__actions {
  grid-row: 1/2;
  grid-column: 1/2;
  height: min-content;
}
