@layer utilities {

  .gap_4 {
    gap: var(--spacing-4)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .w_full {
    width: var(--sizes-full)
    }

  .m_0 {
    margin: var(--spacing-0)
    }

  .list_none {
    list-style-type: none
    }

  .\--thickness_1px {
    --thickness: 1px
    }

  .w_100\% {
    width: 100%
    }

  .border-block-end-width_var\(--thickness\) {
    border-block-end-width: var(--thickness)
    }
}