@layer utilities {

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .flex_column {
    flex-direction: column
    }

  .bg_teal\.200 {
    background-color: var(--colors-teal-200)
    }

  .text_hsla\(0\,_0\%\,_19\%\,_1\) {
    color: hsla(0, 0%, 19%, 1)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }
}