@layer utilities {

  .bg_gray\.50 {
    background-color: var(--colors-gray-50)
    }

  .ring_2px_var\(--chakra-colors-red-200\)_dashed {
    outline: 2px var(--chakra-colors-red-200) dashed
    }

  .ring_5px {
    outline-offset: 5px
    }

  .w_full {
    width: var(--sizes-full)
    }

  .h_full {
    height: var(--sizes-full)
    }
}