@layer utilities {

  .size_sm {
    size: sm
    }

  .border_none {
    border: var(--borders-none)
    }

  .gap_10px {
    gap: 10px
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_space-between {
    justify-content: space-between
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .flex_row {
    flex-direction: row
    }

  .w_full {
    width: var(--sizes-full)
    }
}