@layer utilities {

  .pos_fixed {
    position: fixed
    }

  .left_0 {
    left: var(--spacing-0)
    }

  .bottom_env\(safe-area-inset-bottom\) {
    bottom: env(safe-area-inset-bottom)
    }

  .pb_2 {
    padding-bottom: var(--spacing-2)
    }

  .w_100vw {
    width: 100vw
    }

  .h_100vh {
    height: 100vh
    }

  .pointer-events_none {
    pointer-events: none
    }

  .z_overlay {
    z-index: overlay
    }

  .justify_end {
    justify-content: end
    }

  .h_full {
    height: var(--sizes-full)
    }

  .p_min\(4vh\,_1em\) {
    padding: min(4vh, 1em)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_center {
    align-items: center
    }

  .justify_space-between {
    justify-content: space-between
    }

  .p_1 {
    padding: var(--spacing-1)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .rounded_20 {
    border-radius: 20px
    }

  .backdrop_blur\(4px\) {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px)
    }

  .transition-prop_background-color {
    --transition-prop: background-color;
    transition-property: background-color
    }

  .duration_0\.5s {
    --transition-duration: 0.5s;
    transition-duration: 0.5s
    }

  .bg_hsla\(210\,_38\.5\%\,_94\.9\%\,_0\.8\) {
    background-color: hsla(210, 38.5%, 94.9%, 0.8)
    }

  .border_1px_solid_hsla\(209\,_100\%\,_20\%\,_0\.02\) {
    border: 1px solid hsla(209, 100%, 20%, 0.02)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .max-w_23em {
    max-width: 23em
    }

  .pointer-events_auto {
    pointer-events: auto
    }

  .md\:max-w_container\.sm {
    @media screen and (min-width: 768px) {
      max-width: container.sm
        }
    }

  .md\:max-w_container\.sm {
    @media screen and (min-width: 768px) {
      max-width: container.sm
        }
    }
}