@layer utilities {

  .d_flex {
    display: flex
    }

  .items_start {
    align-items: start
    }

  .gap_10px {
    gap: 10px
    }

  .flex_column {
    flex-direction: column
    }

  .w_full {
    width: var(--sizes-full)
    }
}