@layer utilities {

  .size_md {
    size: md
    }

  .size_sm {
    size: sm
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .text_blackAlpha\.600 {
    color: blackAlpha.600
    }

  .justify_center {
    justify-content: center
    }

  .h_100vh {
    height: 100vh
    }

  .bg_center {
    background-position: center
    }

  .bg_cover {
    background-size: cover
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .flex_column {
    flex-direction: column
    }

  .p_6 {
    padding: var(--spacing-6)
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .max-w_xs {
    max-width: var(--sizes-xs)
    }

  .bg_whiteAlpha\.700 {
    background: whiteAlpha.700
    }

  .shadow_0_10px_30px_rgba\(0\,_0\,_0\,_0\.05\) {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_space-between {
    justify-content: space-between
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }

  .w_full {
    width: var(--sizes-full)
    }

  .w_1\.4em {
    width: 1.4em
    }
}