@layer utilities {

  .size_sm {
    size: sm
    }

  .\[\&_\:where\(a\,_abbr\)\]\:pos_relative {
    & :where(a, abbr) {
      position: relative
        }
    }

  .\[\&_\:where\(a\,_abbr\)\]\:z_1 {
    & :where(a, abbr) {
      z-index: 1
        }
    }

  .before\:content_\"\" {
    &::before {
      content: ""
        }
    }

  .before\:d_block {
    &::before {
      display: block
        }
    }

  .before\:pos_absolute {
    &::before {
      position: absolute
        }
    }

  .before\:cursor_inherit {
    &::before {
      cursor: inherit
        }
    }

  .before\:inset_0 {
    &::before {
      inset: var(--spacing-0)
        }
    }

  .before\:z_0 {
    &::before {
      z-index: 0
        }
    }

  .flex_column {
    flex-direction: column
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .justify_space-between {
    justify-content: space-between
    }

  .pos_relative {
    position: relative
    }

  .\[\&_\:where\(a\,_abbr\)\]\:pos_relative {
    & :where(a, abbr) {
      position: relative
        }
    }

  .\[\&_\:where\(a\,_abbr\)\]\:z_1 {
    & :where(a, abbr) {
      z-index: 1
        }
    }

  .pos_static {
    position: static
    }

  .before\:content_\"\" {
    &::before {
      content: ""
        }
    }

  .before\:d_block {
    &::before {
      display: block
        }
    }

  .before\:pos_absolute {
    &::before {
      position: absolute
        }
    }

  .before\:cursor_inherit {
    &::before {
      cursor: inherit
        }
    }

  .before\:inset_0 {
    &::before {
      inset: var(--spacing-0)
        }
    }

  .before\:z_0 {
    &::before {
      z-index: 0
        }
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }
}