@layer utilities {

  .list_none {
    list-style-type: none
    }

  .\[\&_\:where\(a\,_abbr\)\]\:pos_relative {
    & :where(a, abbr) {
      position: relative
        }
    }

  .\[\&_\:where\(a\,_abbr\)\]\:z_1 {
    & :where(a, abbr) {
      z-index: 1
        }
    }

  .before\:content_\"\" {
    &::before {
      content: ""
        }
    }

  .before\:d_block {
    &::before {
      display: block
        }
    }

  .before\:pos_absolute {
    &::before {
      position: absolute
        }
    }

  .before\:cursor_inherit {
    &::before {
      cursor: inherit
        }
    }

  .before\:inset_0 {
    &::before {
      inset: var(--spacing-0)
        }
    }

  .before\:z_0 {
    &::before {
      z-index: 0
        }
    }

  .size_md {
    size: md
    }

  .pos_relative {
    position: relative
    }

  .\[\&_\:where\(a\,_abbr\)\]\:pos_relative {
    & :where(a, abbr) {
      position: relative
        }
    }

  .\[\&_\:where\(a\,_abbr\)\]\:z_1 {
    & :where(a, abbr) {
      z-index: 1
        }
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .pos_static {
    position: static
    }

  .before\:content_\"\" {
    &::before {
      content: ""
        }
    }

  .before\:d_block {
    &::before {
      display: block
        }
    }

  .before\:pos_absolute {
    &::before {
      position: absolute
        }
    }

  .before\:cursor_inherit {
    &::before {
      cursor: inherit
        }
    }

  .before\:inset_0 {
    &::before {
      inset: var(--spacing-0)
        }
    }

  .before\:z_0 {
    &::before {
      z-index: 0
        }
    }
}