@layer utilities {

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .items_center {
    align-items: center
    }

  .justify_start {
    justify-content: start
    }

  .min-h_100vh {
    min-height: 100vh
    }

  .grow_1 {
    flex-grow: 1
    }

  .w_full {
    width: var(--sizes-full)
    }

  .h_full {
    height: var(--sizes-full)
    }
}