@layer utilities {

  .d_inline-block {
    display: inline-block
    }

  .w_full {
    width: var(--sizes-full)
    }

  .fs_3xl {
    font-size: var(--font-sizes-3xl)
    }

  .overflow-wrap_break-word {
    overflow-wrap: break-word
    }

  .break_break-word {
    word-break: break-word
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }
}