@layer utilities {

  .min-h_8em {
    min-height: 8em
    }

  .items_end {
    align-items: end
    }

  .flex_column {
    flex-direction: column
    }

  .w_full {
    width: var(--sizes-full)
    }

  .rounded_2xl {
    border-radius: var(--radii-2xl)
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_end {
    justify-content: end
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }

  .mt_4 {
    margin-top: var(--spacing-4)
    }
}