@layer utilities {

  .size_sm {
    size: sm
    }

  .bg_whiteAlpha\.900 {
    background-color: whiteAlpha.900
    }

  .bg_primary\.500 {
    background-color: primary.500
    }

  .text_light {
    color: light
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .flex_column {
    flex-direction: column
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }

  .w_full {
    width: var(--sizes-full)
    }
}