@layer utilities {

  .bg_blackAlpha\.100 {
    background-color: blackAlpha.100
    }

  .hover\:bg_blackAlpha\.50 {
    &:is(:hover, [data-hover]) {
      background-color: blackAlpha.50
        }
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .hover\:bg_blackAlpha\.50 {
    &:is(:hover, [data-hover]) {
      background-color: blackAlpha.50
        }
    }
}