@layer utilities {

  .d_flex {
    display: flex
    }

  .flex_row {
    flex-direction: row
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .items_center {
    align-items: center
    }

  .content_center {
    align-content: center
    }

  .flex-wrap_wrap {
    flex-wrap: wrap
    }

  .size_xs {
    size: xs
    }

  .w_1\.25em {
    width: 1.25em
    }

  .m_0 {
    margin: var(--spacing-0)
    }

  .p_0 {
    padding: var(--spacing-0)
    }
}