@layer utilities {

  .pr_2 {
    padding-right: var(--spacing-2)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .text_gray\.500 {
    color: var(--colors-gray-500)
    }

  .gap_0 {
    gap: var(--spacing-0)
    }
}