@layer utilities {

  .gap_10px {
    gap: 10px
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .max-h_80vh {
    max-height: 80vh
    }

  .flex_column {
    flex-direction: column
    }

  .max-w_container\.sm {
    max-width: container.sm
    }

  .w_full {
    width: var(--sizes-full)
    }

  .pointer-events_auto {
    pointer-events: auto
    }

  .gap_2 {
    gap: var(--spacing-2)
    }
}