@layer utilities {

  .size_sm {
    size: sm
    }

  .px_3 {
    padding-inline: var(--spacing-3)
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }
}