@layer utilities {

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .flex_column {
    flex-direction: column
    }

  .w_full {
    width: var(--sizes-full)
    }
}