@layer utilities {

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .flex_row {
    flex-direction: row
    }

  .pb_2 {
    padding-bottom: var(--spacing-2)
    }
}