@layer utilities {

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .justify_center {
    justify-content: center
    }

  .w_full {
    width: var(--sizes-full)
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .gap_4 {
    gap: var(--spacing-4)
    }
}