@layer utilities {

  .w_100\% {
    width: 100%
    }

  .text_center {
    text-align: center
    }

  .font-style_italic {
    font-style: italic
    }

  .text_gray\.500 {
    color: var(--colors-gray-500)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .gap_10px {
    gap: 10px
    }

  .flex_column {
    flex-direction: column
    }

  .h_full {
    height: var(--sizes-full)
    }

  .pb_32 {
    padding-bottom: var(--spacing-32)
    }
}