.container {
  display: grid;
  grid-template-rows: 5lh;
  grid-template-columns: 1fr 5lh;
  gap: 0;
}

.background-blur {
  grid-row: 1;
  grid-column: 1 / 3;
  z-index: 0;
}

.image {
  grid-row: 1;
  grid-column: 2 / 3;
  z-index: 1;
}

.title {
  grid-row: 1;
  grid-column: 1 / 2;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 5lh;
    grid-template-columns: 1fr 10rem;
    gap: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-rows: 5lh;
    grid-template-columns: 1fr 12rem;
    gap: 0;
  }

  .background-blur {
    grid-row: 1;
    grid-column: 1 / 3;
    z-index: 0;
  }

  .image {
    grid-row: 1;
    grid-column: 2 / 3;
    z-index: 1;
  }

  .title {
    grid-row: 1;
    grid-column: 1 / 2;
    z-index: 1;
  }
}
