@layer reset, base, tokens, recipes, utilities;

@import './global.css';

@import './tokens/index.css';

@import './tokens/keyframes.css';

@layer utilities {
  .bg_transparent {
    background-color: var(--colors-transparent)
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .bg_gray\.50 {
    background-color: var(--colors-gray-50)
    }

  .ring_2px_var\(--chakra-colors-red-200\)_dashed {
    outline: 2px var(--chakra-colors-red-200) dashed
    }

  .ring_5px {
    outline-offset: 5px
    }

  .bg_unset {
    background-color: unset
    }

  .mb_3 {
    margin-bottom: var(--spacing-3)
    }

  .w_4 {
    width: var(--sizes-4)
    }

  .my_0 {
    margin-block: var(--spacing-0)
    }

  .bg_red\.50 {
    background-color: var(--colors-red-50)
    }

  .bg_teal\.200 {
    background-color: var(--colors-teal-200)
    }

  .text_hsla\(0\,_0\%\,_19\%\,_1\) {
    color: hsla(0, 0%, 19%, 1)
    }

  .rounded-t_1em {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em
    }

  .rounded-b_0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
    }

  .p_3 {
    padding: var(--spacing-3)
    }

  .px_3 {
    padding-inline: var(--spacing-3)
    }

  .d_unset {
    display: unset
    }

  .border_none {
    border: var(--borders-none)
    }

  .bg_blackAlpha\.200 {
    background-color: blackAlpha.200
    }

  .max-h_80vh {
    max-height: 80vh
    }

  .max-w_container\.sm {
    max-width: container.sm
    }

  .max-w_2xs {
    max-width: 2xs
    }

  .min-w_full {
    min-width: var(--sizes-full)
    }

  .overflow-y_scroll {
    overflow-y: scroll
    }

  .w_1\.125em {
    width: 1.125em
    }

  .color-scheme_green {
    color-scheme: green
    }

  .border_0 {
    border: 0
    }

  .pb_3 {
    padding-bottom: var(--spacing-3)
    }

  .cursor_grabbing {
    cursor: grabbing
    }

  .cursor_grab {
    cursor: grab
    }

  .bg_blackAlpha\.100 {
    background-color: blackAlpha.100
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .break_keep-all {
    word-break: keep-all
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .pr_1 {
    padding-right: var(--spacing-1)
    }

  .rounded_full {
    border-radius: var(--radii-full)
    }

  .w_8 {
    width: var(--sizes-8)
    }

  .w_6 {
    width: var(--sizes-6)
    }

  .p_0\.1em {
    padding: 0.1em
    }

  .pos_fixed {
    position: fixed
    }

  .left_0 {
    left: var(--spacing-0)
    }

  .bottom_env\(safe-area-inset-bottom\) {
    bottom: env(safe-area-inset-bottom)
    }

  .pb_2 {
    padding-bottom: var(--spacing-2)
    }

  .w_100vw {
    width: 100vw
    }

  .pointer-events_none {
    pointer-events: none
    }

  .z_overlay {
    z-index: overlay
    }

  .p_min\(4vh\,_1em\) {
    padding: min(4vh, 1em)
    }

  .p_1 {
    padding: var(--spacing-1)
    }

  .rounded_20 {
    border-radius: 20px
    }

  .backdrop_blur\(4px\) {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px)
    }

  .transition-prop_background-color {
    --transition-prop: background-color;
    transition-property: background-color
    }

  .duration_0\.5s {
    --transition-duration: 0.5s;
    transition-duration: 0.5s
    }

  .bg_hsla\(210\,_38\.5\%\,_94\.9\%\,_0\.8\) {
    background-color: hsla(210, 38.5%, 94.9%, 0.8)
    }

  .border_1px_solid_hsla\(209\,_100\%\,_20\%\,_0\.02\) {
    border: 1px solid hsla(209, 100%, 20%, 0.02)
    }

  .max-w_23em {
    max-width: 23em
    }

  .pointer-events_auto {
    pointer-events: auto
    }

  .max-w_full {
    max-width: var(--sizes-full)
    }

  .px_4 {
    padding-inline: var(--spacing-4)
    }

  .bg_white {
    background-color: var(--colors-white)
    }

  .h_6rem {
    height: 6rem
    }

  .min-h_100vh {
    min-height: 100vh
    }

  .grow_1 {
    flex-grow: 1
    }

  .font_medium {
    font-weight: var(--font-weights-medium)
    }

  .text_blackAlpha\.600 {
    color: blackAlpha.600
    }

  .h_100vh {
    height: 100vh
    }

  .bg_center {
    background-position: center
    }

  .bg_cover {
    background-size: cover
    }

  .p_6 {
    padding: var(--spacing-6)
    }

  .max-w_xs {
    max-width: var(--sizes-xs)
    }

  .bg_whiteAlpha\.700 {
    background: whiteAlpha.700
    }

  .shadow_0_10px_30px_rgba\(0\,_0\,_0\,_0\.05\) {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05)
    }

  .bg_whiteAlpha\.900 {
    background-color: whiteAlpha.900
    }

  .bg_primary\.500 {
    background-color: primary.500
    }

  .text_light {
    color: light
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .py_5 {
    padding-block: var(--spacing-5)
    }

  .min-h_24em {
    min-height: 24em
    }

  .w_max-content {
    width: max-content
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .w_min-content {
    width: min-content
    }

  .flex_column-reverse {
    flex-direction: column-reverse
    }

  .flex_1_0_auto {
    flex: 1 0 auto
    }

  .max-w_min-content {
    max-width: min-content
    }

  .d_none {
    display: none
    }

  .flex_1_1_auto {
    flex: 1 1 auto
    }

  .overflow_hidden {
    overflow: hidden
    }

  .d_inline-block {
    display: inline-block
    }

  .overflow-wrap_break-word {
    overflow-wrap: break-word
    }

  .break_break-word {
    word-break: break-word
    }

  .font_semibold {
    font-weight: var(--font-weights-semibold)
    }

  .font-style_italic {
    font-style: italic
    }

  .pb_32 {
    padding-bottom: var(--spacing-32)
    }

  .bg_gray\.100 {
    background-color: var(--colors-gray-100)
    }

  .w_2em {
    width: 2em
    }

  .h_2em {
    height: 2em
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_3xl {
    font-size: var(--font-sizes-3xl)
    }

  .size_lg {
    size: lg
    }

  .bg_green\.200 {
    background-color: var(--colors-green-200)
    }

  .text_blue\.400 {
    color: var(--colors-blue-400)
    }

  .bg_none {
    background-color: none
    }

  .bg_gray\.200 {
    background-color: var(--colors-gray-200)
    }

  .flex_0_0_auto {
    flex: 0 0 auto
    }

  .w_7 {
    width: var(--sizes-7)
    }

  .h_7 {
    height: var(--sizes-7)
    }

  .rounded_9999px {
    border-radius: 9999px
    }

  .h_full {
    height: var(--sizes-full)
    }

  .pt_4 {
    padding-top: var(--spacing-4)
    }

  .pb_16 {
    padding-bottom: var(--spacing-16)
    }

  .text_center {
    text-align: center
    }

  .px_20\% {
    padding-inline: 20%
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .justify_space-between {
    justify-content: space-between
    }

  .w_4em {
    width: 4em
    }

  .h_auto {
    height: auto
    }

  .w_1rem {
    width: 1rem
    }

  .pos_relative {
    position: relative
    }

  .\[\&_\:where\(a\,_abbr\)\]\:pos_relative :where(a, abbr) {
    position: relative
        }

  .\[\&_\:where\(a\,_abbr\)\]\:z_1 :where(a, abbr) {
    z-index: 1
        }

  .pos_static {
    position: static
    }

  .before\:content_\"\"::before {
    content: ""
        }

  .before\:d_block::before {
    display: block
        }

  .before\:pos_absolute::before {
    position: absolute
        }

  .before\:cursor_inherit::before {
    cursor: inherit
        }

  .before\:inset_0::before {
    inset: var(--spacing-0)
        }

  .before\:z_0::before {
    z-index: 0
        }

  .w_4rem {
    width: 4rem
    }

  .justify_start {
    justify-content: start
    }

  .size_md {
    size: md
    }

  .overflow_clip {
    overflow: clip
    }

  .h_1rem {
    height: 1rem
    }

  .size_sm {
    size: sm
    }

  .border-width_1 {
    border-width: 1px
    }

  .border-style_solid {
    border-style: solid
    }

  .border_blackAlpha\.100 {
    border-color: blackAlpha.100
    }

  .rounded_10 {
    border-radius: 10px
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .h_8 {
    height: var(--sizes-8)
    }

  .h_4 {
    height: var(--sizes-4)
    }

  .h_5 {
    height: var(--sizes-5)
    }

  .pr_2 {
    padding-right: var(--spacing-2)
    }

  .fs_sm {
    font-size: var(--font-sizes-sm)
    }

  .text_gray\.500 {
    color: var(--colors-gray-500)
    }

  .gap_0 {
    gap: var(--spacing-0)
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .list_none {
    list-style-type: none
    }

  .\--thickness_1px {
    --thickness: 1px
    }

  .w_100\% {
    width: 100%
    }

  .border-block-end-width_var\(--thickness\) {
    border-block-end-width: var(--thickness)
    }

  .w_1\.4em {
    width: 1.4em
    }

  .gap_1 {
    gap: var(--spacing-1)
    }

  .content_center {
    align-content: center
    }

  .flex-wrap_wrap {
    flex-wrap: wrap
    }

  .size_xs {
    size: xs
    }

  .w_1\.25em {
    width: 1.25em
    }

  .m_0 {
    margin: var(--spacing-0)
    }

  .p_0 {
    padding: var(--spacing-0)
    }

  .w_1\.5em {
    width: 1.5em
    }

  .justify_center {
    justify-content: center
    }

  .p_8 {
    padding: var(--spacing-8)
    }

  .rounded_xl {
    border-radius: var(--radii-xl)
    }

  .bg_blackAlpha\.50 {
    background-color: blackAlpha.50
    }

  .min-h_8em {
    min-height: 8em
    }

  .items_end {
    align-items: end
    }

  .rounded_2xl {
    border-radius: var(--radii-2xl)
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .items_center {
    align-items: center
    }

  .justify_end {
    justify-content: end
    }

  .gap_10px {
    gap: 10px
    }

  .flex_row {
    flex-direction: row
    }

  .mt_4 {
    margin-top: var(--spacing-4)
    }

  .d_flex {
    display: flex
    }

  .items_start {
    align-items: start
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .flex_column {
    flex-direction: column
    }

  .py_4 {
    padding-block: var(--spacing-4)
    }

  .w_full {
    width: var(--sizes-full)
    }

  .hover\:text-decor_none:is(:hover, [data-hover]) {
    text-decor: none
        }

  .hover\:bg_blackAlpha\.50:is(:hover, [data-hover]) {
    background-color: blackAlpha.50
        }

  .hover\:bg_blackAlpha\.100:is(:hover, [data-hover]) {
    background-color: blackAlpha.100
        }

  @media screen and (min-width: 768px) {
    .md\:h_unset {
      height: unset
    }

    .md\:rounded-b_1em {
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em
    }
        }

  @media screen and (min-width: 768px) {
    .md\:max-w_container\.sm {
      max-width: container.sm
    }
        }

  @media screen and (min-width: 768px) {
    .md\:d_none {
      display: none
    }

    .md\:flex_row {
      flex-direction: row
    }

    .md\:d_flex {
      display: flex
    }

    .md\:w_6rem {
      width: 6rem
    }
        }

  @media screen and (min-width: 1024px) {
    .lg\:min-w_3xs {
      min-width: 3xs
    }
        }

  @media screen and (min-width: 1024px) {
    .lg\:max-w_container\.md {
      max-width: container.md
    }
        }
}