name: Test backend

on:
  push:
    paths-ignore:
      - "home/**"
      - "web/**"
      - ".github/**"
      - ".vscode/**"
      - "*.md"
      - "docker/**"
      - "docker-compose.yml"
      - "fly.toml"
      - "renovate.json"
      - "*.yml"
      - "*.yaml"
      - ".nvmrc"
      - ".vercelignore"
      - "Taskfile.yml"

jobs:
  backend-test-postgres:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: default
          POSTGRES_PASSWORD: default
          POSTGRES_INITDB_ARGS: "-c max_connections=200"
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: "postgresql://default:default@localhost:5432/postgres?sslmode=disable"

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: "**/go.sum"

      - run: go build ./cmd/backend
      - run: go run ./cmd/migrate
      - run: go test -p 4 ./...

  backend-test-sqlite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: "**/go.sum"
      - run: go build ./cmd/backend
      - run: go run ./cmd/migrate
      - run: go test -p 4 ./...
